# GitHub Pages (project site): https://USER.github.io/REPO/
VITE_BASE_PATH=/Game-Settings-Master/
VITE_SITE_URL=https://MikeSaito.github.io/Game-Settings-Master
VITE_GITHUB_REPO=MikeSaito/Game-Settings-Master
VITE_DOWNLOAD_URL=https://github.com/MikeSaito/Game-Settings-Master/releases/latest/download/Game-Settings-Master_0.3.3_x64-setup.exe
VITE_APP_VERSION=0.3.3
