# GitHub Pages (project site): https://USER.github.io/REPO/
VITE_BASE_PATH=/game-settings-master/
VITE_SITE_URL=https://USER.github.io/game-settings-master
VITE_GITHUB_REPO=USER/game-settings-master
VITE_DOWNLOAD_URL=https://github.com/USER/game-settings-master/releases/latest/download/Game-Settings-Master_0.1.0_x64-setup.exe
VITE_APP_VERSION=0.1.0
